.root {
  display: flex;
}

.main {
  padding: 1.25rem;
  max-width: 80%;
}

.flexColumn {
  flex-direction: column;
  width: 100%;
}

.list {
  margin-left: 1.2rem;
}

.backToTop {
  align-self: flex-end;
}

.warningBox {
  width: 700px;
}

.radioButtons {
  display: flex;
  flex-direction: row;
}

.confirmationInfoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
