.rowTitle {
  width: 20rem;
  margin-bottom: 0;
}

.fieldTitles {
  margin-right: 3em;
}

.fieldTitles:last-of-type {
  margin-right: 2em;
}

.pensionerFieldTitles {
  margin-right: 5rem;
}

.pensionerFieldQuestion + .pensionerFieldQuestion {
  margin-right: 11rem;
}
.pensionerFieldTitles + .pensionerFieldTitles {
  margin-right: 19rem;
}
