.rowTitle {
  width: 20rem;
  margin-bottom: 0;
}

.fieldTitles {
  margin-right: 1.5em;
}

.fieldTitles:last-of-type {
  margin-right: 21em;
}

.pensionerFieldTitles {
  margin-right: 4rem;
}

.pensionerFieldQuestion + .pensionerFieldQuestion {
  margin-right: 11rem;
}
.pensionerFieldTitles + .pensionerFieldTitles {
  margin-right: 32rem;
}
